body{
    background-color: #24313E;
}
p{
    color: black;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    letter-spacing: 0.1px;
    line-height: 11px;
}
#firstSect{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.left-Div{
    background-color: #5B6869;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    width: 200px;
    position: fixed;
    top: 5px;
    bottom: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;

}
.main-Div{
    background-color: #5B6869;
    position: fixed;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    height: 56%;
    top: 5px;
    right: 5px;
    left: 215px;
    text-align: center;
    /* overflow-x: hidden; */
    /* overflow-y: scroll;     */
}
.bottom-Div{
    background-color: #5B6869;
    position: fixed;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    height: 40%;
    bottom: 5px;
    right: 5px;
    left: 215px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.left-Div, .main-Div, .bottom-Div {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
/* put the scrollbar style for the most known browsers */
.left-Div::-webkit-scrollbar { width: 0 !important }
.left-Div { -ms-overflow-style: none; }
.left-Div { overflow: -moz-scrollbars-none; }

.main-Div::-webkit-scrollbar { width: 0 !important }
.main-Div { -ms-overflow-style: none; }
.main-Div { overflow: -moz-scrollbars-none; }

.bottom-Div::-webkit-scrollbar { width: 0 !important }
.bottom-Div { -ms-overflow-style: none; }
.bottom-Div { overflow: -moz-scrollbars-none; }

.little-Block{
    position: relative;
    background-color: #F2F2F4;
    border-width: 1px;
    overflow: hidden;
    max-height: 80px;
    text-align: left;
    /* border-style: solid; */
    /* border-radius: 10px; */
}
.little-Block p{
    margin-left: 10px;
}