<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19 Vigia - Login</title>
</head>
<body>
    <main>
        <fieldset>
            <label class="usuario">Login <input type"text"></label>
            <label class="senha">Senha <input type"password"></label>
        </fieldset>
        <div id="registro">
            <p>Não se autenticou ainda?</p>
            <p><a href="{% url 'autenticacao' %}">Clique aqui!</a></p>
        </div>
    </main>
</body>
</html>